
.container {
  border: 0px solid red;

  margin-bottom: 10px;
  width: 100%;
}

.name {
  border: 0px solid red;
  width: 500px;
}

.inputContainer {
  display: flex;
  align-items: center;
}

.input {
  border-radius: 10px 10px 0 0;
}

.optionsContainer {
  border-radius: 0 0 10px 10px;
  border: 1px solid var(--black-color-1);

  display: flex;
  gap: 5px;
  flex-wrap: wrap;

  padding: 5px;
}