/*  */

/* Estilos para a tabela */
table {
  border-collapse: collapse;
  width: 100%;
}

/* Estilos para as células de cabeçalho */
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;

  /* ou word-break: break-all; */
  word-wrap: break-word;
}

/* Estilos para as células de dados */
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  
  /* Adiciona quebra de linha quando necessário */
  max-width: calc(100vw - 700px);

  word-wrap: break-word;
}

/* Estilos para as linhas alternadas da tabela */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Estilos para a primeira linha da tabela (opcional) */

thead > tr:first-child {
  font-weight: bold;
  background-color: #dddddd;
}

