
.container {
  padding: 10px 0;

  display: flex;
  flex-direction: column;
  gap: 10px;

  overflow: auto;
}

.graphContainer {
  border: 0px solid red;

  display: flex;
  gap: 5px;
}

.downloadButton {
  width: fit-content;
  padding: 5px;
  background-color: var(--transparent-color-1);
}