
.firstContainer {
  border: 1px solid red;

  height: 100%;

  display: flex;
  gap: 50px;

  overflow: hidden;

  margin-top: 15px;
}


.secondContainer {
  border: 1px solid red;

  height: 100%;

  display: flex;

  overflow: hidden;

  margin-top: 15px;
}

.graphsContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  overflow: auto;
}

.informationContainer {
  border: 1px solid red;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: fit-content;
}

.information {
  width: 500px;
  height: fit-content;

  padding: 10px;

  border-radius: 10px;
  color: var(--white-color-1);
  background-color: var(--primary-color-1);
}