
.inlineInputContainer {
  display: flex;
  align-items: center;

  gap: 5px;

  padding: 5px 0;
}

.input {
  width: 25px;
  height: 25px;

  border-radius: 5px;

  background-color: var(--white-color-2);

  text-align: center;
}
