.fade {
  z-index: 1;

  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.61);
  
  position: fixed;
  right: 0;
  top: 0;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  z-index: 2;

  border: 0px solid red;
  border-radius: 7px;
  background-color: var(--white-color-1);

  width: 500px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.popupTitle {
  font-size: 20px;
}

.popupDescription {
  width: 100%;
  word-break: break-word;
  overflow-wrap: break-word;

  max-height: 40vh;

  overflow-y: auto;
}

.buttonsContainer {
  display: flex;
  justify-content: space-between;
}

.popupButton {
  margin-top: 10px;
  width: fit-content;
  border-radius: 5px;
  padding: 15px;
}

.closeButton {
  /* position: absolute; */
  margin-top: 10px;
  border-radius: 5px;
  width: fit-content;
  padding: 15px;
}