
.container {
  margin-top: 15px;

  overflow: auto;
}

.algorithmContainer {
  display: flex;
}

.informationContainer {
  border: 0px solid red;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: fit-content;
}

.information {
  width: 500px;
  height: fit-content;

  padding: 10px;

  border-radius: 10px;
  color: var(--white-color-1);
  background-color: var(--primary-color-1);
}

.inputContainer {
  display: flex;
  align-items: center;
}

.input {
  border-radius: 10px 10px 0 0;
}

.containerContainer {
  display: flex;
}

.selectorContainer {
  display: flex;
  flex: 1;

  border: 0px solid red;
}

.buttonsContainer {
  border: 0px solid green;
  display: flex;
  flex-direction: column;
}

.button {
  padding: 5px;
  border: 0px solid red;

  height: 35px;
}

.selectedVariablesContainer {
  border: 1px solid var(--black-color-1);
  border-radius: 10px;

  padding: 5px;
  height: fit-content;

  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 5px;

}