
.container {
  width: 400px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-radius: 17px;
  background: var(--white-color-2);

  padding: 35px;
}

.title {
  font-size: 29px;
  font-style: normal;
  font-weight: 400;

  margin-bottom: 20px;
}

.inputsContainer {
  margin-bottom: 40px;
}

.link {
  width: 100%;

  font-size: 10px;
  font-style: normal;
  font-weight: 400;

  cursor: pointer;

  display: flex;
}

.centerLink {
  width: 100%;
  
  font-size: 10px;
  font-style: normal;
  font-weight: 400;

  cursor: pointer;

  display: flex;
  justify-content: center;
}

.button {}