
.container {
  overflow: hidden;

  display: flex;
  flex-direction: column;

  border: 0px solid red;

  margin-top: 15px;
}

.tableInfomation {
  display: flex;
  justify-content: space-between;
  
  width: 100%;
}
