
.container {
  border: 0px solid red;

  display: flex;
  flex-direction: column;
}

.barContainer {
  border: 0px solid red;

  display: flex;
}

.text {
  padding: 10px 15px;
  border-radius: 10px;
  
  cursor: pointer;
  
  transition: all 0.2s ease;
}

.activatedText {
  color: var(--white-color-1);
  background-color: var(--primary-color-2);
}

.deactivatedText {
  color: var(--black-color-1);
  background-color: var(--trasnparent-color-1);
}


.image {
  display: flex;
  justify-content: center;
  align-items: center;
  
  padding-right: 10px;
  padding-left: 10px;

  transition: all 0.2s ease;

  margin: 0 -8px;
}

.deactivatedImage {
  background-color: var(--trasnparent-color-1);
}

.activatedImage {
  background-color: var(--primary-color-2);
}