
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1px;


  overflow: auto;
  border: 0px solid red;
}

.buttonsContainer {
  display: flex;
  gap: 10px;
}

.button {
  margin-top: 10px;

  width: fit-content;
  padding: 15px;

  border-radius: 5px;
}