.container {
  border: 1px solid red;
}

.name {
  border: 0px solid red;
  width: 500px;
}

.contentContainer {
  display: flex;
  flex-direction: column;

  gap: 5px;
}

.label {
  display: flex;
  gap: 5px;

  border: 0px solid red;
}

.input {
  width: 20px;
}