.container {
  overflow-x: auto;

  margin: 20px 0;
}

.contentContainer {
  border: 0px solid red;
  border-radius: 5px;
}

.table {
  border: 1px solid #5B5B5B;

  border-collapse: collapse;
  border-radius: 5px;
}

.header {
  border: 1px solid #5B5B5B;
}

.headerRegister {
  border: 1px solid #5B5B5B;
}

.itemHeaderRegister {
  border: 1px solid #5B5B5B;
  
  padding: 5px 20px;
  
  font-size: 15px;
  font-weight: 500;
  width: auto;
  
  color: var(--white-color-1);
  background-color: #474646;

  text-align: center;

  /* Impede que o texto quebre em várias linhas */
  white-space: nowrap; 
  /* Oculta o conteúdo que não cabe na célula */
  overflow: hidden;
  /* Adiciona reticências ao texto que não cabe */
  text-overflow: ellipsis; 
}

.body {
  border: 1px solid #5B5B5B;
}

.bodyRegister {
  border: 1px solid #5B5B5B;
}

.itemBodyRegister {
  border: 1px solid #5B5B5B;

  text-align: center;

  color: var(--white-color-1);
  background-color: #3f3e3e;
}